@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700&family=Montserrat:wght@300;600&family=Oxygen:wght@300;700&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-size: large;
    user-select: none;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.earth-bg {
    background-image: url("http://aceling.wz.cz/images/earth_background.png");
    background-size: cover;
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.blue-bg {
    /* background-color: #1c639c; */
    background-image: url("http://aceling.wz.cz/images/blue.jpg");
    background-size: cover;
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    width: 40%;
    height: 450px;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    z-index: 2;
}

h2 {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 4%;
    margin-top: 6%;
}

button, input[type=submit] {
    box-sizing: border-box;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    height: 80px;
    background-color: #2484d3;
    color: white;
    border: none;
    border-radius: 20px;
    transition: background-color 1s ease;
    font-weight: 600;
}

button:hover, input[type=submit]:hover {
    transition: background-color 0.5s ease;
    background-color: #1c639c;
}

table {
    width: 100%;
    box-sizing: border-box;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.language-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 32pt;
    color: white;
    z-index: 3;
    transition: color 1s ease, transform 1s ease;
}

.language-icon:hover {
    transform: rotate(180deg);
    color: #AAAAAA;
    transition: color 0.5s ease, transform 0.5s ease;
}

input[type=text], input[type=password], input[type=email] {
    border: none;
    border-radius: 7.5px;
    width: 90%;
    padding-left: 8px;
    border: 1px solid white;
    transition: background-color 1s ease, border 1s ease;
    height: 30px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    outline: none;
    background-color: #eaf6fd;
    border: 1px solid black;
    transition: background-color 0.5s ease, border 0.5s ease;
}

.content ~ * {               /* hide the ads as much as possible */
    visibility: hidden;
    display: none;
    opacity: 0;
}

tr {
    height: 50px;
}