h2 {
    padding: 0px;
    margin: 0px;
}

.content {
    width: calc(100% - 48px);
    height: calc(100% - 104px);
    padding: 15px;
    margin: 80px 24px 24px 24px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    box-sizing: border-box;
}

button {
    height: 30px;
    background-color: #2484d3;
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-color 1s ease;
    font-weight: 500;
}

button:hover {
    transition: background-color 0.5s ease;
    background-color: #1c639c;
}

table {
    width: 300px;
}

tr {
    height: 40px;
}

.mlanguage, .mset {
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    margin: 5px;
}

.mlanguage a, .mset a {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.material-symbols-rounded {
    position: relative;
    top: 3px;
}

.radio {
    display: block;
}